/* General/reset styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: #333;
}

.new-section {
  padding-top: 50px;
  text-align: center;
  font-size: 4em;
  font-weight: 100;
}

/* Header styles */

header {
	
  position: relative;
  text-align: center;
  height: 800px;
  background: linear-gradient(to right, #03DDDC, #FC00E1);
  color: white;
  
}

header h1 {
	
  padding-top: 100px;
  padding-top: -webkit-calc(50vh - 113px);
  padding-top: expression(50vh - 113px);
  padding-top: -moz-calc(50vh - 113px);
  padding-top: -o-calc(50vh - 113px);
  padding-top: calc(50vh - 113px);
  font-size: 6em;
  font-weight: 100;
}

header h2 {
  font-size: 2em;
}

marquee {
	height:80vh;
	padding:10px;
	marquee-speed: fast;
}

header span::before,
header span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

/* Scroll animations styles */

.scroll-animations {
  display: flex;
}

.scroll-animations div {
  flex-grow: 1;
  padding: 30px;
  text-align: center;
  opacity: 0;
  color: #333;
}

.scroll-animations div span {
  font-size: 4em;
  color: #5AA9E0;
}

.scroll-animations div h3 {
  font-size: 1.9em;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Click animations styles */

.click-animations {
  margin-top: 35px;
  padding-bottom: 20px;
  background: #f6f8fa;
}

.click-animations input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  height: 50px;
  width: 50%;
  font-size: 30px;
  outline: none;
  border: 2px solid transparent;
  transition: 0.3s;
}

.click-animations textarea {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  font-size: 30px;
  outline: none;
  border: 2px solid transparent;
  resize: none;
  transition: 0.3s;
}

.click-animations input:focus,
.click-animations textarea:focus {
  border-color: #30cc8b;
}

.click-animations button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  font-size: 30px;
  border: none;
  outline: none;
  background: #30cc8b;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.click-animations button:active {
  transform: scale(0.95);
}

.form-error {
  border-color: #F46036 !important;
}

/* Media queries */

@media (max-width: 759px) {
  header h1 {
    font-size: 5em;
  }
  
  .new-section {
    font-size: 3em;
  }
  
  .scroll-animations {
    display: block;
  }
  
  .scroll-animations div {
    padding: 20px 80px;
  }
  
  .click-animations input,
  .click-animations textarea,
  .click-animations button {
    width: 80%;
  }
}

@media (max-width: 475px) {
  .new-section {
    font-size: 2.5em;
  } 
  
  header h1 {
    font-size: 3.2em;

  }
  
  header h2,
  .funky-animations h3 {
    font-size: 1.5em;
  }
  
  }








@function textShadow($precision, $size, $color){
  $value: null;
  $offset: 0;
  $length: $size * (1 / $precision) - 1;

  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: $offset + px $offset + px $color;
    $value: append($value, $shadow, comma);
}

  @return $value;
}

.playful span {
  position: relative;
  color: #03DDDC;
  text-shadow: 4px 4px 0px #0310EA;
  animation: scatter 1.75s infinite;
  
}

.playful span:nth-child(2n) {
  color: #FEF900;
  text-shadow: 4px 4px 0px #FC00C3;
  animation-delay: 0.3s;
}

.playful span:nth-child(3n) {
  color: #FF822E;
  text-shadow: 4px 4px 0px #7300FC;
  animation-delay: 0.15s;
}

.playful span:nth-child(4n) {
  color: #F21A1D;
  text-shadow: 4px 4px 0px #B8FB3C;
  animation-delay: 0.4s;
}



@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

body {
  background-color: #FFF7E4;
}
nav {
    background-color:#03DDDC;
	font-family: "Archivo Black", "Archivo", sans-serif;
    font-size:125%;
    grid-area:nav;
    text-align:center;
    padding:.5em;
    margin:0;
	text-shadow: 2px 2px 0px black;
    /*Lines 102 to 105 make the menu stick to the top*/
    position: sticky;
    top:0;
    z-index:999;
}
header{
	
	
}
nav{
	grid-area:nav;
	
}
header{
	grid-area:header;
	
	
}

main{
	grid-area:main;
	
	text-align: center;
}
main h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  width: 45em;
  color:#FC00E1;
  text-shadow: 3px 3px 0 black;
  max-width: 95vw;
  min-height: 90px;
  height: auto;
text-align: center;


}
header p{
	font-family: "Archivo Black", "Archivo", sans-serif;
}



.products{
	max-height: 400px;
}

.mainwrapper{
	display:grid;
	grid-template-columns:50% auto;
	grid-template-areas:
	"main1 main2"
}
.main1{
	grid-area:"main1"
}

.main2{
	grid-area:"main2"
}

figure{
	padding:5px;
	margin:10px;
	border: 5px inset #999;
	background-color:white;
}



figcaption{
	background-color: #FC00E1;
	font-style: bold;
	padding:5px;
	text-align: center;
font-family: "Archivo Black", "Archivo", sans-serif;
color:white;
text-shadow: 2px 2px black;
}
.img:target {
        height: 450px;
        width: 500px;
    }
    .img:target+.close {
        display: block;
    }
    .img:target+.close+.expand{
        display: none;
    }
    .close {
        background-image: url(https://bit.ly/29QeT21);
        background-repeat: no-repeat;
        bottom: 418px;
        display: none;
        height: 32px;
        left: 462px;
        margin-top: -32px;  
        position: relative;
        width: 32px;
    }
    .expand{
        bottom: 125px;
        margin-left: -32px;
        margin-right: 16px;
        pointer-events: none;
        position: relative;
    }
    #wrapper {
        margin: auto;
        padding: 10px;
        text-align: center;
        width: 500px;
    }






.cart{
	max-width:40px;
	margin-top:160px ;
	
}
h3{
	font-family: "Archivo Black", "Archivo", sans-serif;
}
.wrapper{
	display:grid;
	grid-template-columns:1fr 1fr;
	height:500px;
	
}
.box1{
	background-color: white;
	margin:20px;
	box-shadow: 4px 4px black;
	margin-top: 30px;
	
	
}

.box1 img{
	width:200px;
	float:right;
	
}

.box2{
	background-color: white;
	margin:20px;
	box-shadow: 4px 4px black;
	margin-top: 30px;
	
}
.box2 img{
	width:200px;
	float:right;
}
.box3{
	background-color: white;
	margin:20px;
	box-shadow: 4px 4px black;
	
}
.box3 img{
	width:200px;
	float:right;
	
}
.box4{
	background-color: white;
	margin:20px;
	box-shadow: 4px 4px black;
	
}
.box4 img{
	width:200px;
	float:right;
	
}
.box5{
	background-color:white;
	margin:20px;
	box-shadow: 4px 4px black;
	
}
.box5 img{
	width:200px;
	float:right;
	
}
.box6{
	background-color:white ;
	margin:20px;
	box-shadow: 4px 4px black;
	
}
.box6 img{
	width:200px;
	float:right;
	
}


.element {
  height: 35em;
  width: 70em;
  margin: 0 auto;
  background-color: #FFF7E4;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: #F21A1D;
    border-radius: 100%;
  }
  50% {
    background-color: #FC00C3;
  }
  100% {
    transform: scale(1.2);
   
  }
}






footer{
	grid-area:footer;
	border: 1px solid #999;
}
@function textShadow($precision, $size, $color){
  $value: null;
  $offset: 0;
  $length: $size * (1 / $precision) - 1;

  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: $offset + px $offset + px $color;
    $value: append($value, $shadow, comma);
}

  @return $value;
}

.playful span {
  position: relative;
  color: #03DDDC;
  text-shadow: 4px 4px 0px #0310EA;
  animation: scatter 1.75s infinite;
  
}

.playful span:nth-child(2n) {
  color: #FEF900;
  text-shadow: 4px 4px 0px #FC00C3;
  animation-delay: 0.3s;
}

.playful span:nth-child(3n) {
  color: #FF822E;
  text-shadow: 4px 4px 0px #7300FC;
  animation-delay: 0.15s;
}

.playful span:nth-child(4n) {
  color: #F21A1D;
  text-shadow: 4px 4px 0px #B8FB3C;
  animation-delay: 0.4s;
}



@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}



h1 {
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  width: 45em;
  
  max-width: 95vw;
  min-height: 90px;
  height: auto;
text-align: center;


}
main h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  width: 45em;
  color:#FC00E1;
  text-shadow: 3px 3px 0 black;
  max-width: 95vw;
  min-height: 90px;
  height: auto;
text-align: center;


}

/*--------Mobile first - no media query needed until the screen is larger than 480px---------*/
.wrapper1 { /*index.html*/
    display: grid;
    margin:0;
    grid-gap: .5em;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  }
/*This stuff is for the hamburger menu*/
.toggleNav {
    display:grid; /*This is what allows the hamburger icon and "Menu" to display*/
    }

#flex-nav ul {
    display: none; /*jQuery toggles the nav from to this class to the .open when clicked*/
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
 
#flex-nav ul.open { /*.open is the class that gets toggled when clicked (with help from the jQuery code)*/
    display:grid;
    }
    
#flex-nav li {
    padding-left:10px;
    padding-top:10px;
    }
#flex-nav a {
    color:white;
    text-decoration:none;
    font-weight:bold;
    }
	
#flex-nav a:hover {
    color:#FC00C3;
}
nav ul {
 list-style-type: none;
}
/*This stuff is to make my navigation go horizontal on full screen*/
.first {
    grid-area:first;
    margin-left:0;
	
	
}
.second {
    grid-area:second;
}
.third {
    grid-area:third;
}
.fourth {
    grid-area:fourth;
}

#navwrapper {
    display:grid;
    grid-template-areas:
    "first"
    "second"
    "third"
    "fourth"
   ;
    }
    
#content-desktop {
  display:none;
}
#content-mobile {
  display:grid;
}
/*---------------------Tablet media query----------------------------*/
@media only screen and (min-width: 480px)  {
.wrapper1 { /*index.html*/
    grid-template-columns: 45% auto;
    grid-template-areas:
    "nav nav"
    "header header"
    "main main"
    "footer footer";
    }
 /*---------------------Desktop media query----------------------------*/
@media only screen and (min-width: 1100px)   {
     
.wrapper1 { /*index.html*/
    grid-template-columns: 60% auto;
    grid-template-areas:
    "nav nav"
    "header header"
    "main main"
    "footer footer";
}
#navwrapper {
    display:grid;
    grid-template-areas:
    "first second third fourth";
    }
    
.toggleNav {
    display: none; /*Makes the hamburger icon with the word "Menu" to disappear at this screen size*/
  }
  
  
#flex-nav ul {
    display:grid;
    text-align:center;
}
#flex-nav li {
    padding-top:5px;
}
#content-desktop {
  display:grid;
}
#content-mobile {
  display:none;
  }
  


